<head>
  <title>わかめ</title>
  <link rel="stylesheet" href="/css/ume.css">
</head>
<iframe src="https://www.google.com/search?q=%E3%82%B8%E3%82%A7%E3%83%AA%E3%83%BC%E3%83%AD%E3%83%BC%E3%83%B3+google&sca_esv=a6857920e5190db0&authuser=0&biw=1128&bih=779&sxsrf=AHTn8zq9Xjz1D1oUlpBAsT3u9MG0gxrfTA%3A1740294287406&ei=j8i6Z9uyGPPY1e8P3LrcsA4&oq=&" style="border: none; margin: 0; height: 100vh; width: 100%;"></iframe> 
